<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <script type="text/javascript" src = "/static/post.js"></script> -->
    <!-- <script src="{{url_for('static', filename='somejavascriptfile.js')}}"></script> -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
 // function logout() {
 //
 // }
var socket = io.connect('http://' + document.domain + ':' + location.port);
var check=-1;
socket.on('connect', function() {
  // alert("inbuild or io.connect => conenction");
  var myemail=document.getElementById('trick');
  var myname=document.getElementById('trickname');
  socket.emit("makeroom",{me:myemail.value,name:myname.value});
  socket.emit('online',{me:myemail.value});
  socket.emit('update_post');
});

// // if (window.performance) {
// //   alert("window.performance works fine on this browser");
// // }
// //   if (performance.navigation.type == 1) {
// //     // socket.emit('update_post');
// //     alert( "This page is reloaded" );
// //   } else {
// //     alert( "This page is not reloaded");
// //   }
//
//     //

      // document.getElementsByClassName('recommended').onclick


//


  // $("b").click(function(){
  //     $("h2").html("<p class='test'>click me</p>")
  // });
socket.on('online', function(data) {
  var onlinediv=document.getElementById("online_user");
  onlinediv.innerHTML=" ";
  var p=document.createElement("p");
  p.innerHTML='ONLINE USER';
  p.style.color='red';
  p.style.textAlign = "center";
  p.style.fontSize = "18px";
  p.style.backgroundColor='black';
  onlinediv.append(p);
var myname=document.getElementById('trickname');
for (const [key, value] of  Object.entries(data)) {
  // alert(myname.value);
  // alert(value);
     if (value!=myname.value) {
       var onlineID = "online".key;
       onlinediv.innerHTML+='<button id='+onlineID+' style="text-decoration:none;background-color:black; color:white" value='+value+'>'+value+'</button>';
       onlinediv.innerHTML+='<button style="text-decoration:none;background-color:black; color:white" onclick=\'openchat("'+value+'","'+key+'")\'>Chat</button>';
        onlinediv.innerHTML+= '<br>';
     }
}

   });

socket.on('update_post', function(data) {
      // alert(data['did']);
  if (data['dtype']==="daily_use_item") {
        // data[di]
        var div = document.createElement("div");
        div.style.width = "55vw";
        // div.style.height = auto;
        div.style.border = "1px solid black";
        div.style.borderRadius = "5px";
        div.style.background = "white";
        div.style.margin="10px";
        var creater = document.createElement("P");
        creater.innerHTML=data['pemail'];
        var str = data['pemail'];
        var res = str.toUpperCase();
        creater.innerHTML=res;
        creater.className="make_bold make_italic";
        creater.innerHTML+='<button style="float:right;text-decoration:none;background-color:blue; color:white" disabled>PERSON</button>';
        creater.style.color="red";
        div.appendChild(creater);
        div.innerHTML += data['time'];
        div.innerHTML+="<br>";
        div.innerHTML+="<br>";
        div.innerHTML += data['post'];
        div.innerHTML+="<br>";
        if (data['filename']) {
          div.innerHTML+="<img src=\"http://localhost:5000/uploads/"+data['filename']+"\" width=\"714px\" >";
        }
        var lower=document.createElement("div");
        var b1=document.createElement("button");
        b1.className = "fas fa-thumbs-up recommended";
        b1.innerHTML+=" RECOMMENDED";
        b1.style.width = "17vw";
        b1.style.height = "3vw";
        b1.style.margin="2px";
        b1.onclick = function(){
          if (b1.style.backgroundColor=='') {
              b1.style.backgroundColor='aqua';
              b2.style.backgroundColor='';
              // socket.emit('insert_in_social_blog',{recommended:1,Message:massage,from:myemail.value,name:myname.value});
          }
          else {
            b1.style.backgroundColor='';
          }
        };
        lower.appendChild(b1);
        var b2=document.createElement("button");
        b2.className = "fas fa-thumbs-down not_recommended";
        b2.innerHTML+=" NOT RECOMMENDED";
        b2.style.width = "18vw";
        b2.style.height = "3vw";
        b2.style.margin="2px";
        b2.onclick = function(){
          if (b2.style.backgroundColor=='') {
              b2.style.backgroundColor='red';
              b1.style.backgroundColor='';
          }
          else {
            b2.style.backgroundColor='';
          }
        };
        lower.appendChild(b2);
        var b3=document.createElement("button");
        b3.className = "fas fa-comment comment";
        b3.innerHTML+=" COMMENT"
        b3.style.width = "17vw";
        b3.style.height = "3vw";
        b3.style.margin="2px";
        lower.appendChild(b3);

        var commentdiv=document.createElement("div");
        commentdiv.style.width = "48vw";
        commentdiv.style.height = "18vw";
        commentdiv.style.display='none';
        commentdiv.innerHTML = "HI deepak here u can post your comment";
        lower.appendChild(commentdiv);

        var createcommentdiv=document.createElement("div");
        var b4=document.createElement("textarea");
        b4.ID = "create_comment";
        b4.placeholder=" Write a comment...";
        b4.cols = 72;
        b4.rows = 1;
        b4.style.resize='none';
        b4.style.margin="2px";
        createcommentdiv.appendChild(b4);

        var b5=document.createElement("button");
        // b5.className = "fas fa-comment comment";
        b5.innerHTML="POST";
        b5.style.cssFloat = "right";
        b5.style.marginRight="25px";
        b5.onclick=function(){
          // alert(data['did']);
          socket.emit('insert_in_daily_use_item',{blog_id:data['did'],comment:b4.value});
          b4.value='';
        }
        // b5.style.height = "3vw";
        // b5.style.margin="2px";
        createcommentdiv.appendChild(b5);
        // lower.appendChild(b5);
         lower.appendChild(createcommentdiv);

        lower.style.border = "1px solid black";
        // lower.style.borderRadius = "5px";

        b3.onclick = function(){


          if (commentdiv.style.display=='none') {
            alert("commentdisdcy");
            // createcommentdiv.style.display='none';
            commentdiv.style.display='block';
            // lower.appendChild(commentdiv);
          }
          else {
            commentdiv.style.display='none';
          }
        };
        div.appendChild(lower);
        document.getElementById("read_post").appendChild(div);
  }
  else if (data['dtype']==="social") {
    var div = document.createElement("div");
    div.style.width = "55vw";
    // div.style.height = auto;
    div.style.border = "1px solid black";
    div.style.borderRadius = "5px";
    div.style.background = "white";
    div.style.margin="10px";
    var creater = document.createElement("P");
    var str = data['cemail'];
    var res = str.toUpperCase();
    creater.innerHTML=res;
    creater.className="make_bold make_italic";
    creater.innerHTML+='<button style="float:right;text-decoration:none;background-color:blue; color:white" disabled>SOCIAL</button>';
    creater.style.color="red";
    div.appendChild(creater);
    div.innerHTML += data['time'];
    div.innerHTML+="<br>";
    div.innerHTML+="<br>";
    div.innerHTML += data['post'];
    div.innerHTML+="<br>";
    if (data['filename']) {
      div.innerHTML+="<img src=\"http://localhost:5000/uploads/"+data['filename']+"\" width=\"714px\" >";
    }
    var lower=document.createElement("div");
    var b1=document.createElement("button");
    b1.className = "fas fa-thumbs-up recommended";
    b1.innerHTML+=" INTERESTED";
    b1.style.width = "17vw";
    b1.style.height = "3vw";
    b1.style.margin="2px";
    b1.onclick = function(){
      if (b1.style.backgroundColor=='') {
          b1.style.backgroundColor='aqua';
          b2.style.backgroundColor='';
      }
      else {
        b1.style.backgroundColor='';
      }
    };
    lower.appendChild(b1);
    var b2=document.createElement("button");
    b2.className = "fas fa-thumbs-down not_recommended";
    b2.innerHTML+=" NOT INTERESTED";
    b2.style.width = "18vw";
    b2.style.height = "3vw";
    b2.style.margin="2px";
    b2.onclick = function(){
      if (b2.style.backgroundColor=='') {
          b2.style.backgroundColor='red';
          b1.style.backgroundColor='';
      }
      else {
        b2.style.backgroundColor='';
      }
    };
    lower.appendChild(b2);
    var b3=document.createElement("button");
    b3.className = "fas fa-comment comment";
    b3.innerHTML+=" COMMENT"
    b3.style.width = "17vw";
    b3.style.height = "3vw";
    b3.style.margin="2px";
    lower.appendChild(b3);

    var commentdiv=document.createElement("div");
    commentdiv.style.width = "48vw";
    commentdiv.style.height = "18vw";
    commentdiv.style.display='none';
    commentdiv.innerHTML = "HI deepak here u can post your comment";
    lower.appendChild(commentdiv);

    var b4=document.createElement("textarea");
    b4.ID = "create_comment";
    b4.placeholder=" Write a comment...";
    b4.cols = 72;
    b4.rows = 1;
    b4.style.resize='none';
    b4.style.margin="2px";
    lower.appendChild(b4);

    var b5=document.createElement("button");
    // b5.className = "fas fa-comment comment";
    b5.innerHTML="POST";
    b5.style.cssFloat = "right";
    b5.style.marginRight="25px";
    // b5.style.height = "3vw";
    // b5.style.margin="2px";
    lower.appendChild(b5);


    lower.style.border = "1px solid black";
    // lower.style.borderRadius = "5px";
    // var commentdiv=document.createElement("div");
    // commentdiv.style.width = "48vw";
    // commentdiv.style.height = "18vw";
    // commentdiv.style.display='none';
    // commentdiv.innerHTML = "HI deepak here u can post your comment";
    b3.onclick = function(){


      if (commentdiv.style.display=='none') {
        // alert(commentdiv.style.display);
        commentdiv.style.display='block';
        // lower.appendChild(commentdiv);
      }
      else {
        commentdiv.style.display='none';
      }
    };
    div.appendChild(lower);
    document.getElementById("read_post").appendChild(div);
  }
  else if (data['dtype']==="club_requirement") {
    var div = document.createElement("div");
    div.style.width = "55vw";
    // div.style.height = auto;
    div.style.border = "1px solid black";
    div.style.borderRadius = "5px";
    div.style.background = "white";
    div.style.margin="10px";
    var creater = document.createElement("P");
    var str = data['cemail'];
    var res = str.toUpperCase();
    creater.innerHTML=res;
    creater.className="make_bold make_italic";
    creater.innerHTML+='<button style="float:right;text-decoration:none;background-color:blue; color:white" disabled>CLUB</button>';
    creater.style.color="red";
    div.appendChild(creater);
    div.innerHTML += data['time'];
    div.innerHTML+="<br>";
    div.innerHTML+="<br>";
    div.innerHTML += data['post'];
    div.innerHTML+="<br>";
    if (data['filename']) {
      div.innerHTML+="<img src=\"http://localhost:5000/uploads/"+data['filename']+"\" width=\"714px\" >";
    }
    var lower=document.createElement("div");
    var b1=document.createElement("button");
    b1.className = "fas fa-thumbs-up recommended";
    b1.innerHTML+=" INTERESTED";
    b1.style.width = "17vw";
    b1.style.height = "3vw";
    b1.style.margin="2px";
    b1.onclick = function(){
      alert(data['did']);
      if (b1.style.backgroundColor=='') {
          b1.style.backgroundColor='aqua';
          b2.style.backgroundColor='';
      }
      else {
        b1.style.backgroundColor='';
      }
    };
    lower.appendChild(b1);
    var b2=document.createElement("button");
    b2.id="donate".concat(data['did']);
    b2.className = "fas fa-hand-holding-usd not_recommended";
    b2.innerHTML+=" Donate";
    b2.style.width = "18vw";
    b2.style.height = "3vw";
    b2.style.margin="2px";
    b2.onclick = function(){
      window.open("{{url_for('paymentform')}}",'_blank');
    };
    lower.appendChild(b2);

    var b3=document.createElement("button");
    b3.className = "fas fa-comment comment";
    b3.innerHTML+=" COMMENT";
    b3.style.width = "17vw";
    b3.style.height = "3vw";
    b3.style.margin="2px";
    lower.appendChild(b3);

    var commentdiv=document.createElement("div");
    commentdiv.style.width = "48vw";
    commentdiv.style.height = "18vw";
    commentdiv.style.display='none';
    commentdiv.innerHTML = "HI deepak here u can post your comment";
    lower.appendChild(commentdiv);

    var b4=document.createElement("textarea");
    b4.ID = "create_comment";
    b4.placeholder=" Write a comment...";
    b4.cols = 72;
    b4.rows = 1;
    b4.style.resize='none';
    b4.style.margin="2px";
    lower.appendChild(b4);

    var b5=document.createElement("button");
    // b5.className = "fas fa-comment comment";
    b5.innerHTML="POST";
    b5.style.cssFloat = "right";
    b5.style.marginRight="25px";
    // b5.style.height = "3vw";
    // b5.style.margin="2px";
    lower.appendChild(b5);

    lower.style.border = "1px solid black";
    // lower.style.borderRadius = "5px";
    // var commentdiv=document.createElement("div");
    // commentdiv.style.width = "48vw";
    // commentdiv.style.height = "18vw";
    // commentdiv.style.display='none';
    // commentdiv.innerHTML = "HI deepak here u can post your comment";
    b3.onclick = function(){


      if (commentdiv.style.display=='none') {
        // alert(commentdiv.style.display);
        commentdiv.style.display='block';
        // lower.appendChild(commentdiv);
      }
      else {
        commentdiv.style.display='none';
      }
    };
    div.appendChild(lower);
    document.getElementById("read_post").appendChild(div);
  }
});
    function create_post(){
      post=document.getElementById('new_post')
      if (post.innerHTML!="") {
        alert("not empty");
      }
      else {
        alert("emprty");
      }
      socket.emit('create_post', {post: post.innerHTML,author:{{username}}});
      // socket.emit('update_post');
    }


      socket.on('chat', function(data) {
        alert(check);
        if(check==-1){
          openchat(data['name'],data['from']);
        }
        var onlineID = "chat".concat(data['from']);
        var area=document.getElementById(onlineID);
        area.innerHTML+="<br>";
        // area.innerHTML+="<br>";
        // // area.innerHTML+="<br>";
        // area.innerHTML+=data['Message'];
        var other=document.createElement("textarea");
        other.type="text";
        other.style.width='100px';
        other.style.height='30px';
        other.style.borderRadius= '5px';
        other.style.resize= 'none';
        other.innerHTML=data['Message'];
        other.readOnly=true;
        area.appendChild(other);
      });

        function openchat(name,email){
          check=1;
          // alert("bsdk");
          // alert(email);
          // alert(name);
          var box=document.getElementById('chatbox');
          // alert(box.style.display);
          if (box.style.display=='none') {
          box.style.display='inline-block';
          }
          var New_Chatbox=document.createElement("div");
          // var Name_box=name;
          // New_Chatbox.style.marginRight='10px';
          // New_Chatbox.style.marginLeft='10px';

          var Chat_head=document.createElement("div");
          Chat_head.innerHTML='<a style="color:white">'+name+'</a>';
          var cross_button=document.createElement('span');
          // cross_button.id=Name+"X";
          cross_button.className="glyphicon glyphicon-remove";
          cross_button.style.position='relative';
          cross_button.style.float='right';
          cross_button.style.color='red';
          cross_button.onmouseover=function(){
            this.style.color="grey";
          }
          cross_button.onmouseout=function(){
            this.style.color="red";
          }
          cross_button.onclick=function()
          {
            box.innerHTML='';
            box.style.display='none';
            check=-1;
          }
          Chat_head.appendChild(cross_button);
          Chat_head.style.position='fixed';
          Chat_head.style.float="right";
          Chat_head.style.padding='5px';
          Chat_head.style.backgroundColor='#1187c2';
          Chat_head.style.color='white';
          Chat_head.style.width='16vw';
          Chat_head.style.bottom='21vw';
          New_Chatbox.appendChild(Chat_head);
          box.appendChild(New_Chatbox);

          var Chat_bottom=document.createElement("div");
      		Chat_bottom.style.width='16vw';
      		// Chat_bottom.style.border='1px solid black';
      		Chat_bottom.style.color='black';
      		var New_Message=document.createElement("textarea");
      		New_Message.type="text";
      		New_Message.style.width='190px';
      		New_Message.style.height='39px';
      		New_Message.style.borderRadius= '5px';
      		New_Message.style.resize= 'none';
      		New_Message.placeholder="Message";
      		Chat_bottom.appendChild(New_Message);
      		var SEND=document.createElement("button");
      		SEND.className="btn btn-default";
      		SEND.innerHTML="Send";
          New_Message.addEventListener("keyup", function(event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
              // Cancel the default action, if needed
              event.preventDefault();
              // Trigger the button element with a click
              SEND.click();
            }
          });
          SEND.onclick=function(){
            var massage=New_Message.value;
            var myemail=document.getElementById('trick');
            var myname=document.getElementById('trickname');
            Chat_area.innerHTML+="<br>";
            // // area.innerHTML+="<br>";
            // Chat_area.innerHTML+=massage;
            //
            //
            var my=document.createElement("textarea");
            my.type="text";
            my.style.width='100px';
            my.style.height='30px';
            my.style.borderRadius= '5px';
            my.style.resize= 'none';
            my.style.backgroundColor= 'lightblue';
            my.style.float='right';
            my.innerHTML=massage;
            my.readOnly=true;
            Chat_area.appendChild(my);

            // alert(myemail.value);
      			socket.emit("chat",{to:email,Message:massage,from:myemail.value,name:myname.value});
      			// var data={to:name,Message:to_send,UserName:user.innerText};
      			// var Apple=name;
      			// function1(data,"my",Apple);
      			New_Message.value="";
      		};

      		Chat_bottom.appendChild(SEND);
      		Chat_bottom.style.position='fixed';
      		Chat_bottom.style.backgroundColor="lightpink";
      		Chat_bottom.style.bottom='5px';
      		New_Chatbox.appendChild(Chat_bottom);
          // box.appendChild(New_Chatbox);
      // alert("it is making");
          var  Chat_area=document.createElement('div');
      		Chat_area.style.backgroundColor="lightpink";
          // Chat_area.style.position='fixed';
      		Chat_area.id="chat".concat(email);
          Chat_area.className='overflowTest';
      		// Chat_area.style.height='14vw';
      		// Chat_area.style.width='16vw';
      		// Chat_area.style.overflow="auto";
          // Chat_area.scrollTop = Chat_area.scrollHeight;
      		New_Chatbox.appendChild(Chat_area);
      		box.appendChild(New_Chatbox);
      		// var oldChatData={to:Name,UserName:user.innerText};
      		// socket.emit('myChatInBox',oldChatData);
      		// New_Message.addEventListener('keypress',function(event){
      		// 	if(event.keyCode==13)
      		// 		SEND.click();
      		// });

        }
</script>
    <style media="screen">
      .upper{
        background-color:violet;
        /* background:blue; */
        /* display:inline; */
        width:98vw;
        height:4vw
      }
      .footer{
        background-color:black;
        /* background:blue; */
        /* display:inline; */
        width:100vw;
        height:20vw
      }
      .post{
        height:50vw;
        width:20vw;
        float:top;
        float:left;
      }
      .nocursor { cursor:none; }
      #read_post{
        /* cursor:none; */
        height:50vw;
        width:58vw;
        overflow:auto;
        background-color: white;
      }
      #create_comment{
        /* cursor:none; */
        height:40vw;
        width:58vw;
        overflow:auto;
        background-color: white;
      }
      .online_user{
        float:top;
        float:right;
        height:50vw;
        width:20vw;
        background-color:silver;
      }
      .body{
        width:98vw;
        height:30vw;
      }
      .side{
        float: left;
        width:20vw;
        height:60vw;
        background-color: silver;
      }
      .make_bold{
          font-weight: bold;
      }
      .make_italic{

      }
      .overflowTest {
  background: red;
  color: black;
  padding: 15px;
  width: 16vw;
  height: 17vw;
  overflow: scroll;
  border: 1px solid #ccc;
}
      .footer{
        width:100vw;
        height:10vw;
      }
      /* input{background-color:lightblue} */
    </style>
    <title>{{ username }}</title>
  </head>
  <body>
    <div class="upper">
      <!-- <form style="margin:10px;" class="" action="{{url_for('index')}}" enctype="multipart/form-data" method="POST"> -->
        <button id="logout" style="float:right" type="submit" name="logout" onclick=logoutme()>LOGOUT</button>
        <script type="text/javascript">
        function logoutme(){
          var myemail=document.getElementById('trick');
          // var myname=document.getElementById('trickname');
          // socket.emit("makeroom",{me:myemail.value,name:myname.value});
          //   document.getElementById('logout').onclick=function()
          //   {
              socket.emit('logout',{me:myemail.value});
              // socket.emit('online',{me:myemail.value});//no more sockete available
              window.open("{{url_for('index')}}","_self");

          //   }
        }

        </script>
      <!-- </form> -->

      <!-- <i style="float:right ;" class="fas fa-sign-out-alt">LOGOUT</i> -->
      <!-- <label  style="float:right display:'inline none';">hi</label> -->
        <!-- <label style="float:right;">{{username}}</label> -->
<!-- <center>Menubar</center> -->
    </div>
    <div class="body">

      <div class="side">
   <center>footer</center>
      </div>

      <div class="post">


       <div class="create_post"  id="read_post">
         <form style="margin:10px;" class="" action="{{url_for('create_posting')}}" enctype="multipart/form-data" method="POST">
           <!-- <br> -->
          <textarea id="new_post" style="resize:none;" name="article" rows="4" cols="40" required></textarea>
          <!-- <input type="text" name="article" value="i am Deepak kumar."> -->
          <br>
          <input type="file" name="file" value="">
          <br>
          <input style="display:none" type="text" name="author" value={{username}}>
          <input id="trick" style="display:none" type="text" name="authoremail" value={{email}}>
          <input id="trickname" style="display:none" type="text" name="authorname" value={{name}}>
          <input style="display:none" type="text" name="authortype" value={{type}}>
          <input style="background-color:lightblue" type="submit" name="create_post" value="Create post">
        </form>
       </div>
       <!-- <div class="nocursor" id="read_post">
           <center>POST</center>
       </div> -->

     </div>
     <div id="online_user" class="online_user">
       <!-- <center>
       <p class="btn btn-default btn-block "style="color:red;background-Color:black;">ONLINE</p>
       </center> -->
       <!-- <i class="fas fa-thumbs-up"></i> -->
     </div>

     <div id="chatbox" style="display: none;bottom:0%;right:3%;background-color:silver;height: 300px;width: 16vw;z-index: 1;position:fixed" class="online_user">
       <!-- depakdvcydhbjkmc -->
     </div>


   </div>

   <!-- <div class="footer"> -->
<!-- <center>footer</center> -->
   <!-- </div> -->

  </body>
</html>
