<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container">
        {{response}}
        <div class="col my-4">

            <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
            {% if response.RESPCODE == '01' %}
            ORDER SUCCESS
            {% else %}
            ORDER FAILURE
            {% endif%}

        </div>

    </div>

    <script>
    </script>

  </body>
</html>
